<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="bluethinkinc_loginascustomer" id="bluethinkinc_loginascustomer">
			<module before="Magento_Backend" name="Bluethinkinc_LoginAsCustomer"/>
		</route>
		<route id="btloginascustomer" frontName="btloginascustomer">
            <module name="Bluethinkinc_LoginAsCustomer"/>
        </route>
	</router>
</config>
